* {
    font-family: 'Courier New', monospace, sans-serif;
}

body {
    background-color: #202124;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: red;
}

li a {
    font-weight: bold;
    font-size: 25px;
}

h1, h2, h3, p, ul>li, ol>li {
    color: white;
}

p, ul>li, ol>li {
    line-height: 25px;
}

img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}